/* body background */
body {
    background-image: url('pictures/background.jpg');
    /* Additional background properties */
}
/* Styles for the menu container */
#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background: #f8c3c3;
    display: flex;
    justify-content: space-around;
    z-index: 1000; /* Ensure the menu is above other elements */
}

/* Add a margin to the top of the content to account for the fixed menu */
body {
    margin-top: 50px; /* Adjust this value to match the height of your menu */
}

/* Styles for the menu links */
#menu a {
    color: #000000; /* Dark gray text color */
    text-decoration: none; /* Remove default underline */
    padding: 15px 20px; /* Add padding around the text for better clickability */
    transition: color 0.4s ease; /* Smooth transition for color change */
    flex-grow: 1; /* Equal spacing between menu links */
}

/* Styles for the menu links on hover */
#menu a:hover {
    color: #ffffff; /* Darker gray text color on hover */
}

/* Styles for the section */
/* Styles for the section */
.section {
    text-align: center; /* Center-align the content */
    padding: 70px 0; /* Add vertical padding to create space around the content */
    background-color: #f8c3c3; /* Set the background color to pink */
    border: 2px solid #000000; /* Add a 2px solid pink border */
    border-radius: 10px; /* Add rounded corners to the border */
    max-width: 80%; /* Set maximum width for the section */
    margin: 0 auto; /* Center the section horizontally */
    overflow: auto; /* Add scrollbars if content exceeds the maximum height */
}



/* Styles for individual images */
.image {
    margin-right: 10px; /* Add space between images */
    display: inline-block; /* Display images inline */
    vertical-align: top; /* Align images to the top */
    transition: transform 0.3s ease; /* Smooth transition for transform */
}

img {
    width: 200px;
    height: 300px;
    object-fit: cover;
  }

/* Apply grow effect to images on hover */
.image:hover {
    transform: scale(1.5); /* Increase size by 50% on hover */
}




/* Custom styles for the like button */
#likeButton {
    background-color: #4CAF50; /* Green background */
    border: none;
    color: white;
    padding: 10px 20px; /* Larger padding */
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px; /* Rounded corners */
    transition: background-color 0.3s; /* Smooth transition on hover */
}
#likeButton:hover {
    background-color: #99e69d; /* Darker green background on hover */
}
